@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

/*--------------------------------------------------------*/
.fallout:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-position: bottom right;
  background-image:
    background: #132, /******/
    linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(22,44,34,0) 100%);
  background-repeat: no-repeat;
  opacity: 0.07;
  z-index: 1;
}

.fallout:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 90%, rgba(37, 64, 64, 0.25) 100%);
  animation-duration: 3s;
  animation-name: scanline;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}
@keyframes scanline {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/*--------------------------------------------------------*/

::-webkit-scrollbar {
  width: 5px;
  background-color:transparent;
}
::-webkit-scrollbar-thumb {
  background: #9ff3;
}
::selection {
  color: #000;
  background: #9ff;
}


html, body {
  padding: 0;
  margin: 0;
  background: black;
  font-family: 'M PLUS Rounded 1c' ,monospace;
  /*font-size: 22px;*/
  font-size:16px;
  line-height:1.6;
  
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.fallout {
  position: relative;
  padding: 25px;
  width: 90vw;
  height: 90vh;
  background: #132; /******/
  overflow: hidden;
  border-radius: 25px;
  color: #9ff;
  text-shadow: 0 0 8px #f269;
  box-shadow: inset 0 0 15px 13px rgba(0,0,0,0.45);
  box-sizing: border-box;
}


.fallout{
  background: linear-gradient(0deg,#1327,#1327),
    var(--background-2);
  background-size: 100% 100%,auto 100%;
  display:flex;
}

:root{
  --background-2:url('https://i.pinimg.com/564x/67/42/e6/6742e679764c6ca4c837e43a0bccfe57.jpg');
}


.fallout .box{
  position: relative;
  z-index: 2;
  height:100%;
  min-height:100%;
  overflow-y:scroll;
  width:100%;
}

.fallout img{
  height:300px;
  filter:grayscale(0.7);
}


.fallout [contenteditable]{
  outline:none;
  padding-bottom:30vh;
}

/*---------------------------------*/

